
.SettingBlock{
    position: relative;

}

.SettingButton{
    position: relative;
    display: flex;

    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    width: 35px;
    height: 35px;

    border-radius: 5px;

    transition: ease .2s;
}

.SettingButton:hover{
    background-color: rgba(55, 55, 55, 0.3);
}

.SettingButton:active{
    transform: scale(0.9);
}

.SettingButtonLine{
    position: absolute;
    display: block;

    width: 100%;
    height: 6px;

    border-radius: 6px;

    transition: ease .3s;

    background-color: #D9D9D9;
}

.SettingButtonLine:last-child{
    top: 0;
}

.SettingButtonLine:nth-child(2){
    top: calc(50% - 3px);
}

.SettingButtonLine:first-child{
    bottom: 0;
}

.Opened .SettingButtonLine{
    background: #C30000;
}

.Opened .SettingButtonLine:last-child{
    top: calc(50% - 3px);
    transform: rotateZ(45deg);
    opacity: 0;
}

.Opened .SettingButtonLine:nth-child(2){
    top: calc(50% - 3px);
    transform: rotateZ(45deg);
}

.Opened .SettingButtonLine:first-child{
    top: calc(50% - 2px);
    transform: rotateZ(-45deg);
}

.SettingMenu{
    --top-offset: 0;

    position: absolute;

    width: max-content;

    top: calc(var(--top-offset) - 10px);
    right: 0;

    padding: 5px 10px;

    background: #1D1D1D;
    border: 1px solid #000000;
    box-shadow: 0 0 10px #000000;
    border-radius: 10px;
}

.Hidden{
    opacity: 0;
}