
.TeamPlayersBlock{
    display: inline-block;
}

.TeamPlayerLabel{
    display: flex;
    width: max-content;

    margin-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

.JoinButton{
    user-select: none;

    margin-left: 10px;

    color: #ffffff;
    font-size: 25px;

    border: none;
    border-bottom: 2px solid #ffffff;

    transition: ease .2s;

    background: none;
}

.JoinButton:hover{
    cursor: pointer;
}

.JoinButton:active{
    transform: scale(0.9);
}

.Blue .JoinButton:hover{
    color: var(--cn-blue);
    border-bottom: 2px solid var(--cn-blue);
}

.Yellow .JoinButton:hover{
    color: var(--cn-yellow);
    border-bottom: 2px solid var(--cn-yellow);
}

.Blue{
    color: var(--cn-blue)
}

.Yellow{
    color: var(--cn-yellow);
}

.TeamPlayers{
    list-style: none;
}