

.CNDefaultInput{
    color: #fff;
    padding: 0 5px;

    border: 0;
    border-bottom: 2px solid white;

    font-family: 'Roboto Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

    text-align: center;

    background: none;

    transition: ease .25s;
}

.CNDefaultInput:focus{
    outline: none;
    background-color: rgba(0, 0, 0, .4);
}


.CNDefaultInput[type=number]::-webkit-inner-spin-button,
.CNDefaultInput[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
