
.InputBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: max-content;

    color: #FFFFFF;
}

.InputLabel{
    margin-right: 10px;

    font-size: 22px;
    font-weight: 400;
}

.CNDefaultInput{
    padding: 0 5px;

    border: 0;
    border-bottom: 2px solid white;

    color: #c0c0c0;
    background: none;

    font-family: 'Roboto Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

    text-align: center;

    transition: ease .25s;
}

.CNDefaultInput:focus{
    outline: none;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
}


.CNDefaultInput[type=number]::-webkit-inner-spin-button,
.CNDefaultInput[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
