
.RunGameFrame {
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    transition: ease .5s;
}

.Hidden{
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
