

.Word{
    display: flex;

    color: #1E1E1E;

    margin: 10px;

    width: var(--words-width);
    height: 90px;

    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    background-color: var(--words-default-color);
}