

.TeamMaster{
    display: flex;

    flex-direction: row;

    width: max-content;

    margin-bottom: 10px;

    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

.SelectButton{
    color: #ffffff;
    font-size: 25px;

    user-select: none;

    border: none;
    border-bottom: 2px solid #ffffff;

    transition: ease .2s;

    background: none;
}

.SelectButtonBlue:hover{
    color: var(--cn-blue);
    border-bottom: 2px solid var(--cn-blue);
}

.SelectButtonYellow:hover{
    color: var(--cn-yellow);
    border-bottom: 2px solid var(--cn-yellow);
}

.Blue{
    color: var(--cn-blue)
}

.Yellow{
    color: var(--cn-yellow);
}
